{% extends "base.html" %}

{% block title %}
    Daily Summary
{% endblock %}


{% block content %}

<h1>Daily Summary</h1>


<form method="GET">

    <div class="card">

        <label>
            Select date
        </label>

        <input
            type="date"
            name="date"
            value="{{ selected_date|date:'Y-m-d' }}"
            class="input"
        >

        <br>

        <button
            type="submit"
            class="button"
        >
            View Day
        </button>

    </div>

</form>


<div class="card">

    <h3>
        Total for
        {{ selected_date|date:"d M Y" }}
    </h3>

    <h1>
        {{ daily_total|floatformat:2 }} ETB
    </h1>
    
    <div class="card">

    <h3>
        Spending by Category
    </h3>


    {% for category in category_totals %}

        <div style="
            display:flex;
            justify-content:space-between;
            padding:10px 0;
        ">

            <span>
                {{ category.category }}
            </span>

            <strong>
                {{ category.total|floatformat:2 }} ETB
                ({{ category.percentage|floatformat:0 }}%)
            </strong>

        </div>

    {% endfor %}

</div>
</div>


{% for expense in daily_expenses %}

<div class="card">

    <div style="
        display:flex;
        justify-content:space-between;
    ">

        <div>

            <strong>
                {{ expense.description }}
            </strong>

            <p>
                {{ expense.created_at|date:"H:i" }}
            </p>

        </div>

        <strong>
            {{ expense.amount|floatformat:2 }} ETB
        </strong>

    </div>


    <div style="
        display:flex;
        gap:15px;
    ">

        <a
            href="{% url 'edit_expense' expense.id %}"
        >
            Edit
        </a>

        <a
            href="{% url 'delete_expense' expense.id %}"
        >
            Delete
        </a>

    </div>

</div>

{% empty %}

<div class="card">

    <p>
        No expenses recorded for this date.
    </p>

</div>

{% endfor %}


<a
    href="{% url 'add_expense' %}"
    class="button"
    style="
        text-decoration:none;
        text-align:center;
    "
>
    + Add Expense
</a>

{% endblock %}